#cloud-config
hostname: ${hostname}
fqdn: ${hostname}
preserve_hostname: false
manage_etc_hosts: true

users:
  - name: ${username}
    groups: [sudo, adm]
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    lock_passwd: ${password_hash == null}
    ssh_authorized_keys: ${ssh_public_keys}

ssh_pwauth: false
%{ if password_hash != null ~}
chpasswd:
  expire: false
  users:
    - name: ${username}
      password: ${password_hash}
      type: hash
%{ endif ~}

package_update: true
packages:
  - qemu-guest-agent
  - python3

growpart:
  mode: auto
  devices: ["${root_partition}"]
  ignore_growroot_disabled: false

runcmd:
  - [pvresize, "${root_partition}"]
  - [lvextend, -l, +100%FREE, "/dev/${root_vg}/${root_lv}"]
  - [resize2fs, "/dev/${root_vg}/${root_lv}"]
  - systemctl enable --now qemu-guest-agent
