[defaults]
roles_path = ./roles:./.galaxy/roles
collections_path = ./.galaxy
inventory = ./inventory/ozan-local
host_key_checking = False
retry_files_enabled = False
forks = 10
timeout = 30
result_format = yaml

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = True
